/*------GLOBAL STYLES---------*/
nav { /*navigation bar*/
   
    background-color: black;
    color:white;
    font-family: 'Abel', sans-serif;
    font-family: 'Cormorant SC', serif;
    font-family: 'Manjari', sans-serif
}

.navbar-toggler { /*navigation dropdown menu icon*/
    align-self: right;
    color: black;
}

.nav-link {
    color:black;
}

body { 
    background-image: url(imgs/cracked-background.png);
    width:auto;
    height: auto;
}

footer {
    background-color: black;
    color: white;
    width: 100%;

}

/*-----ABOUT ME/HOME PAGE STYLES--------*/

main header h1 {
    padding-left: 20px;
}
figure .card-img { /*headshot*/
    position:relative;
    max-width: 414px;
    height: auto;
    padding-right:20px;
}

.mr-3, .mx-3 { /* spacing - check to see for what*/
    margin-right: 10px !important;
    
    
}

header { /*About Me title*/
    padding-left: 20px;
    margin-bottom: 20px;
}

main section .container {
    padding: 50px;
}
/*------PORTFOLIO PAGE STYLES--------*/
#portfolio-head h1 { /*Portfolio title*/
    text-align: center;
    padding-top: 30px;
    color: black;
    font-size: 5rem;
}

li h3 { /*Artwork title*/
    font-size: 6vw;
    padding-bottom: 10px;
}


#art-img { /*portrait img*/
    width: 70vw;
    padding-top: 15px;
}
#text-1 { /* artwork text block responsiveness*/
    font-size: 3vw;
    padding: 10px;
    padding-top: 30px;
    max-width:100%;
    height: auto;
}

#theater-img { /*Theater img*/
    width: 70vw;
}

#text-2 { /* theater text block responsiveness*/
    font-size: 3vw;
    padding: 10px;
    padding-top: 30px;
    max-width:100%;
    height: auto;
}

#costume-img { /*costume img*/
    width: 70vw;
}

#text-3 { /*costume text block responsiveness*/
    font-size: 3vw;
    padding: 10px;
    padding-top: 30px;
    max-width:100%;
    height: auto;
}

li .h2 { /*headings for albums, responsive*/
    font-size: 4rem;
}



.card {
    padding: 10px;
    
}

    
.card-text h5 {  /*album titles: artwork, theater, costume*/
   padding-left: 20px;
   padding-bottom:5px;
}



/*--------CONTACT PAGE STYLES---------------*/
form { /*contact form appearance format*/
    width: 100%; /*makes it responsive*/
    height: 667px;
    padding: 20px;
    background-color: #e8e8e8;
    color: black;
}
.btn-default { /*submit button appearance*/
    background-color: black;
    color: white;
    margin-top:5px;
}

main .container {
    padding: 50px;
}

/*---------MOBILE DEVICES-------*/

@media screen and (max-width: 480px){
    
    .container { /*about me headshot img*/
        width: 90%;
        margin: 20px 5%;   
}
    .row {
        width: 90%;
        margin: 20px 5%;   
    }
    .card {
        width: 90%;
        margin: 20px 5%; 
    }
    #about-me-id {
        width: 90%;
        margin: 20px 5%; 
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
        margin: 20px 5%;   
    }
       .row {
        width: 90%;
        margin: 20px 5%; 
    }  
    .card {
        width: 90%;
        margin: 20px 5%; 
    }
    #about-me-id {
        width: 90%;
        margin: 20px 5%; 
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin: 20px 5%;   
    }
       .row {
        width: 90%;
        margin: 20px 5%; 
    }  
    .card {
        width: 90%;
        margin: 20px 5%; 
    }
    #about-me-id {
        width: 90%;
        margin: 20px 5%; 
    }
}
   





