nav { /*navigation bar*/
    background-color: black;
    color:white;
    font-family: 'Abel', sans-serif;
    font-family: 'Cormorant SC', serif;
    font-family: 'Manjari', sans-serif
}

.navbar-toggler { /*navigation dropdown menu icon*/
    align-self: right;
    color: black;
}

.nav-link {
    color:black;
}

figure {
    max-width: 367px;
    height: auto;
}
.img-fluid {
    max-width: 480px;
    height: auto;
    margin: 20px 5%;
}



/*---------MOBILE DEVICES-------*/

@media screen and (max-width: 480px){
    
    .img-responsive { /*about me headshot img*/
        width: 90%;
        margin: 20px 5%;
}

}







/*CONTACT PAGE STYLES*/
form { /*contact form appearance format*/
    width: 375px;
    height: 667px;
    padding: 20px;
    margin: 5px;
    background-color: #e8e8e8;
    color: black;
}
.btn-default { /*submit button appearance*/
    background-color: black;
    color: white;
}
/*MOBILE FORMAT
-single column and reduced image
-nav bar expanded or left alone if image reduced
-padding
- portfolio single stacked format, insert cover image for each
- text reduced under image

IPAD FORMAT
-image adjusted

DESKTOP FORMAT
- image size, padding, alignment
- */


 /*-------MEDIA QUERIES------*/

 @media screen and (max-width:700px) {
     .classname {
         width: 46%; /*could make a row of four images to two images/row */
     }
 }

 /*add another media query if want to adjust something as shrink the browser size*/
 
 @media screen and (max-width:400px) {
     .classname {
         width: 92%; /*could make a row of two images (from above) to one image/row, make them larger when reduce browser size*/
     }
 }
 @media screen and (max-width: 380px) {
    .img-responsive .img-fluid .float-left .mr-3 {
         width:100%;
     }
 }
 @media screen and (max-width: 390px) {
    .img-responsive .img-fluid .float-left .mr-3 {
        width:88%;
 }