body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

#mySidebar {
  z-index: 3;
  width: 300px;
}

#sidebar-img {
  border-radius: 5px;
}
.w3-round {
  width: 45%;
}

#avatar {
  width: 65px;
}

#myOverlay {
  cursor: pointer;
}
